.title{
	color: white;
	background-color: green;
	text-align: center;
	padding-top: 10px;
	width: 100%;
	padding-bottom: 10px;
	border-radius: 3px;
}

.top-nav{
	color:green;
	background-color: white;
	width: 100%;
	height: auto;
}

.top-nav .question-label{
	margin-top: 3px;
	padding: 5px 3px 5px;
	border: 1px solid black;
	border-radius: 3px;
	float: left;
	max-width: 200px;
	height: 30px;
}


.user-with-control{
	width: 100%;
	height: 30px;
}


.user{
	margin-top: 3px;
	width: 200px;
	float: right;
    border-radius: 3px;
	border: 1px solid black;

}


.user-control{
	width: 20%;
	height: 100%;
	float: left;
}


.user-control img{
	width: 100%;
	height: 100%;
}


#menu-option{
	display: none;
}


.username-label{
	padding-top: 10px;
	width: 80%;
	float: left;
	height: 100%;
}


.section{
	clear: both;
}


.options{
	margin-top: 8px;
	width: 200px;
	display: none;
	float: right;
	clear: both;
}

.login{
	float: left;
	width: 40%;

}
.logout{
	width: 40%;
	float: left;
}


.options a{
	width: 100%;
	text-decoration: none;
	border: 1px solid black;
	padding: 5px;
	border-radius: 3px;
}


input[type="checkbox"]:checked ~.options{
	display: block;
}


.registration-form{
	width: 400px;
	margin-left: calc(50% - 400px/2);
}


.registration-form label{
	width: 100%;
}

.registration-form input{
	width: 100%;
	margin-top: 10px;
}

.error{
	opacity: 0;
}

.section {
	margin-top: 10px;
	clear: both;
	width: 80%;
	float: left;
}
.right-nav{
	margin-top: 10px;
	float: left;
	width: 20%;
}


.right-nav .team-members-label{
	color: white;
	background-color: green;
	border-radius: 3px;
	padding: 4px;
}


.posting-form{
	width: 400px;
	margin-left: calc(50% - 400px/2);
}

.posting-form label{
	width: 100%;
}


.posting-form textarea{
	width: 100%;
	height: 50px;
}

.posting-form input{
	width: 100%;
	margin-top: 10px;
}
.profile-header{
	color: white;
	background-color: green;
	margin-right: 20px;
	border-radius: 3px;
	height: 30px;
}
.hidden{
	display: none;
}

.visible{
	display:block;
}

#question-header{
	padding-top: 5px;
	width: 15%;
	float: left;
	text-align: center;
}

#topic{
	width: 85%;
	float: left;
	text-align: center;
	color: black;
	background-color: white;
	height: 100%;
}

.meetup{
	width: 540px;
}

.comment{
	width: 30%;
	float: left;
}

#comment-header{
	margin-right: 5px;
	padding-top: 5px;
	text-align: center;
}
.meetup-control{
	width: 100%;
}
.meetup-control div{
	width: 30%;
	float: left;
}

.comment-form textarea{
	width: 100%;
}

#comment-submit{
	float: right;
}

.comment-form{
	display: none;
}


.meetup-label{
	list-style: none;
	margin-bottom: 10px;
	font-size: 1.5em;


}

.meetup-label:hover{

}

.ask-question-form{
	clear: both;
	display: none;
}

.pen-image{
	width: 150px;
	height: 150px;
}
.meetup-label-text{
	width:250px;
	float: left;
}
.meetup-label-text:hover{
	color: green;
	cursor: pointer;
	font-weight: bold;
}

.pen-image{
 width:20px;
	height: 20px;
	float: left;
}
.no-background{
	background-color: white;
}
.pen-image img{
	width: 100%;
}

.meetup{
	clear: both;
	margin-bottom: 15px;
	display: none;
}


input[type="checkbox"]:checked ~.comment-form{
	display: block;
}

input[type="checkbox"]:checked ~.meetup{
	display: block;
}

input[type="checkbox"]:checked ~.ask-question-form{
	display: block;
}

.meetup-form{
	display: none;
}
input[type="checkbox"]:checked ~.meetup-form{
	display: block;
}

.meetup-form{
	width: 400px;
	margin-left: calc(50% - 400px/2);
}

.meetup-form label,input,select{
	width: 100%;

}